*{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: comic Arial, Helvetica, sans-serif;
    
    display: block;
    margin: 0 auto;
    width: 100%;
   
}
header{
    font-size: 2.5em;
    color: black;
    background-color: rgb(48, 236, 48);
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    text-align: center;
     padding: 15px;
}
header h4{
    text-align: left;
    font-size: 0.7em;
}
main{
    padding-top: 15px;
    background-color: rgb(166, 244, 166);
}
h3{
font-size: 2.5em;
}
.lecco{
    padding: 5px 0;
    text-align: center;
}
article, section{
    padding-top: 20px;
    overflow: hidden;
     padding: 15px;
}
article h4, section h4{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10px;
}
article img, section img{
    float: left;
    width: 50%;
    border: 4px solid black;
}
article aside, section aside{
    width: 50%;
    float: left;
    padding-left: 30px;
}
aside li{
    padding: 10px 0 0 4px;
}
article h5, section h5{
    text-align: center;
    font-size: 2em;
}
.ciao{
    padding-top: 10px;
    font-size: 1.5em;
}
a{
    color: black;
}
a:hover{
    color: blue;
}
a:active{
    color: red;
}
hr{
    width: 100%;
    border: 2px black solid;
}
.romanico{
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-style: oblique;
}
.roma{
    padding: 15px;
}
button{
    width: 30%;
    margin-left: 2.5%;
    padding: 10px 30px;
    float: left;
    background-color:  orange;
    border-radius: 10px;

}
button li{
    text-align: left;
}
.salve{
    text-align: center;
    font-weight: bolder;
}
.milano, .monza{
    overflow: hidden;
    width: 100%;
    padding-bottom: 20px;
}
.bergamo{
    text-align: center;
    padding-bottom: 10px;
}
footer{
    background-color: rgb(48, 236, 48);
    overflow: hidden;
}
figure{
    padding: 15px;
    overflow: hidden;
    float: left;
    padding-left: 100px;
    padding-top: 35px;
}
footer section{
    float: left;
}
footer p{
    padding-top: 5px
}
footer img{
    float: left;
    padding: 0 3px;
}
figcaption{
    float: left;
    padding-right: 5px;
    padding-top: 8px;
}
