*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: comic Arial, Helvetica, sans-serif;
    display: block;
    margin: 0 auto;
    width: 100%;
}

header h4{
    text-align: left;
    font-size: 2.5vw;
} 
main{
    background-color: rgb(166, 244, 166);
    padding: 20px;
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 1.1vw;
}
hr{
    width: 100%;
    border: 2px black solid;
}
main h2{
    font-size: 3.3vw;
    text-align: center;
    padding-top: 20px;
}

main figure{
    overflow: hidden;
    background-color: rgb(166, 244, 166);
    padding: 10px 0;
    width: 100%;
}
main p{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

}
main figure img{
    width: 38%;
    float: left;
    margin: 10px;
    border: black 2px solid;
}
main ul{
    padding-left: 20px;
}
main figcaption{
    float: left;
    width: 60%;
    font-size: 1.2vw;
}
header{
    font-size: 3vw;
    color: black;
    background-color: rgb(48, 236, 48);
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
footer {
    background-color: rgb(48, 236, 48);
    overflow: hidden;
}

figure{
    padding-top: 10px;
    padding-left: 10px;
}
footer figure{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
 footer section{
    padding: 15px;
 }
footer p {
    padding-top: 5px
}

footer img {
    padding: 0 3px;
}

figcaption {
    padding-right: 5px;
    padding-top: 8px;
}

.paolo{
    font-size: 1.5vw;
}
a{
    color: black;
}
a:hover {
    color: blue;
}

a:active {
    color: red;
}
.riccardo{
    display: block;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin: 5% 20%;
    font-size: 3vw;
    background-color: rgb(236, 84, 84);
    color: black;
    padding: 30px 0;
    border-radius: 20px;
}
@media(width>=1445px) {
    footer figure {
        padding: 15px;
        overflow: hidden;
        float: left;
        padding-left: 100px;
        padding-top: 35px;
    }

    footer section {
        float: left;
    }

    footer p {
        padding-top: 5px
    }

    footer img {
        float: left;
        padding: 0 3px;
    }

    figcaption {
        float: left;
        padding-right: 5px;
        padding-top: 8px;
    }
}
@media(width<=700px) {
    main {
        font-size: 3vw;
    }

    header {
        font-size: 6vw;
    }

    header h4 {
        font-size: 5vw;
    }
    .paolo{
        font-size: 2vw;
    }
}
@media(width<=1039px){
    main figure img{
        width: 97%;
        padding: 0;
    }
    main figure figcaption{
        width: 100%;
    }
}
@media(width<=600px)
{
    .riccardo{
        width: 80%;
        font-size: 8vw;
        margin: 0 10%;
        margin-top: 5%;
        padding: 15px;
    
    }
}